import lottie
import streamlit as st
import json
import requests
from streamlit_lottie import st_lottie
import pickle
from pandas import DataFrame
import seaborn as sns
import matplotlib.pyplot as plt
from PIL import Image
